@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  
}

:root {
  --bg-color: #080808;
  --second-bg-color: #001005;
  --text-color: white;
  --main-color: #00ff51;
}

body {
  font-size: 60%;
  overflow-x: hidden;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
}

header, main{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 4rem;
}

header .menu{
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(3px);
}

header .menu h3{
  font-size: 1.5rem;
  font-weight: 700;
}

span{
  color: var(--main-color);
}

header .menu .links{
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: start;
  font-size: 1rem;
  font-weight: 500;
  list-style: none;
  position: fixed;
  top: 100%;
  right: 0;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(3px);
  width: 50vw;
  height: 38vh;
  padding: 1rem;
  border-left: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-bottom-left-radius: 1rem;
}

header .menu .links{
  display: none;
}

header .menu .links a{
  text-decoration: none;
  color: var(--text-color);
  
}

header .menu .links a:hover{
  border-bottom: 1px solid var(--main-color);
  transition: all .3s;
}

.menu i{
  position: relative;
  left: 10%;
  color: var(--main-color);
  font-size: 2rem;
  cursor: pointer;
}

.menu #close-menu{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.image img{
  width: 75vw;
  border-radius: 50%;
  box-shadow: 0 0 10px var(--main-color);
  transition: all .5s;
}

.image img:hover{
  box-shadow: 0 0 40px var(--main-color);
}

.info h1{
  font-size: 2rem;
  font-weight: 700;
}

.info h2{
  font-size: 1.5rem;  
  font-weight: 500;
}

.info p{
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 0;
}

.info .social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: .5rem;
}

.info .social-media a{
  color: var(--main-color);
  font-size: 1.4rem;
  text-decoration: none;
  border: 1px solid var(--main-color);
  border-radius: 50%;
  padding: .4rem .8rem;
}

.info .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.info .buttons button,
.about button{
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 1rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background: none;
  cursor: pointer;
}

.info .social-media a:hover,
.info button:hover,
.about button:hover,
.contact button:hover{
  background: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 10px var(--main-color);
  transition: all .3s;
} 

.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about h2{
  font-size: 2rem;
  font-weight: 700;
}

.about p{
  font-size: 1rem;  
  font-weight: 400;
}

.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.services h2{
  font-size: 2rem;
  font-weight: 700;
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem 0;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--main-color);
  color: var(--second-bg-color);
  padding: 2rem;
  width: 20rem;
}

.card i{
  font-size: 3.5rem;
}

.card h3{
  font-size: 1.5rem;
  font-weight: 700;
}

.card p{
  font-size: .8rem;
  font-weight: 400;
  text-align: justify;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.contact h2{
  font-size: 2rem;
  font-weight: 700;
}

.contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  gap: 1rem;
  padding: 1rem 0;
}

.contact form input{
  border-radius: .5rem;
  padding: 1rem;
  font-size: .8rem;
  font-weight: 400;
  background-color: var(--second-bg-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  width: 300px;
}

.contact form textarea{
  border-radius: .5rem;
  padding: 1rem;
  font-size: .8rem;
  font-weight: 400;
  background-color: var(--second-bg-color);
  color: var(--text-color);
  border: 1px solid var(--main-color);
  width: 300px;
}

.contact form button{
  color: var(--text-color);
  text-decoration: none;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  border-radius: 1rem;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  background: none;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .container .info{
    flex-direction: row-reverse;
  }
  
  .container h1{
    font-size: 4rem;
  }

  .container h2{
    font-size: 3rem;
  }

  .container h3{
    font-size: 2rem;
  }

  .container p{
    font-size: 1.5rem;
    word-break: break-all;

  }
  .container .image img{
    width: 35vw;

  }

  .container .about{
    width: 50vw;
  }

  header .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
  }

  header .menu .links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;

    position: static;
    
    background: none;
    backdrop-filter: none;
    width: auto;
    height: auto;
    padding: 0;
    border-left: none;
    border-bottom: none;
    border-bottom-left-radius: 0;
  }
  
  header .menu i{
    display: none;
  }

  .card{
    width: 30rem;
  }

}